<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add Contacts</title>
<link rel="stylesheet" type="text/css" media="all"
href="../static/CSS/myCSS2.css" 
th:href="@{/CSS/myCSS2.css}"/>
</head>
<body class="add">

<img src="../static/images/contact.png" th:src="@{/images/contact.png}"/>

<h1>New Toys</h1>
<div sec:authorize="isAuthenticated()">
	User's Name: <span sec:authentication="name"></span>
	<br>
	Roles: <span sec:authentication="principal.authorities"></span>
	<br>
	<form class="logout" th:action="@{/logout}" method="post">
		<input type="submit" value="Logout">
	</form><br>
</div>

<form action="#" th:action="@{/submit}" th:object="${toy}">
Name: <input type="text" th:field="*{name}" size="23"/><br/><br/>
Price: <input type="text" th:field="*{price}" size="14"/><br/><br/>
Quantity: <input type="number" th:field="*{quantity}" size="23"/><br/><br/>
<input type="submit" value="Add Toy"/><br/>
<a th:href="@{/}">Homepage</a>
</form>
</body>
</html>